* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    --main-color: #4499FF;
    --secondary-color: #e8e8e8;
    font-family: Arial, Helvetica, sans-serif;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

/* Add borders to see grids - remove later */
body>*,
aside>*,
header>*,
main>*,
main>*>*,
main>*>*>* {
    border: 1px solid red;

}

body>* {
    padding: 10px;
}

/* Sidebar */

aside {
    grid-row: 1 / span 2;

    background-color: var(--main-color);
    color: white;
    font-size: 1.2rem;
    font-weight: 600;

    display: grid;
    grid-auto-rows: max-content;
    gap: 50px;

    padding-right: 50px;
}

aside>nav>ul>li {
    list-style-type: none;
    padding: 10px 0px;
}

/* Header */
header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
}

/* main */
main {
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr auto;
}

.projects {
    grid-row: 1 / span 2;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

.projects .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 28px 12px;
}